<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style>
        body, .jumbotron{
            background-color: #ff9400;
            font-family: 'Lobster', cursive;
        }
        .jumbotron{
            border: 2px solid #FC8205;
            border-radius: 15px;
        }
        .jumbotron ul {
            list-style-type: none;
            font-size: 125%;
        }
    </style>

    </head>
    <body>
     <header>
			<nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand brand" href="index.html">thenewBombay</a>
                    </div>

                     <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ><a href="blog/index.html">Home </a></li>
                            <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
                            <li ><a href="blog/blog.html">My Blog</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
		</header>
     <div class="jumbotron">
          <h3>Hi!! I am Sarvesh. I am currently study Electrical Engineering B.Tech First Year at IIT Delhi. I have
          an interest in coding and web development.</h3>
          <div class="row">
              <div class="col-md-6 col-sm-12 col-xsm-12">
              <p>Languages I know :</p>
                <ul>
                    <li>C++</li>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>C</li>
                </ul>
          </div>
         <div class="col-md-6 col-sm-12 col-xsm-12">
              <p>Frameworks I know :</p>
                <ul>
                    <li>Bootstrap</li>
                    <li>Django</li>
                    <li>Jquery</li>
                </ul>
          </div>
          </div>
     </div>
    </body>
</html>