{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>My Blog</title>
</head>
    <body>
        <div>
            <h1>Sarvesh Nalawade</h1>
        </div>
        {%  for post in posts %}
            <div>
                <p> Published Date : {{ post.published_date }}</p>
                <h1><a href="#">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>